<div class="container mt-4">
  <div class="row">
    <div class="col-4">
      <div class="card" style="height: 350px;">
        <div class="card-block">
          <img src="/user-default.png" width="100%" height="auto">
        </div>
      </div>
    </div>

    <div class="col-5">
      <div class="card" style="height: 350px;">
        <div class="card-block">
          <dl>
            <dt>Patient</dt>
            <dd>Anders Nilsson</dd>
            <dt>Clinic</dt>
            <dd>Vårdcentralen Kungsgatan<br />Kungsgatan 39 A, 582 18 Linköping</dd>
            <dt>Doctor</dt>
            <dd>Emma Andersson</dd>
          </dl>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card" id="live-data-container" style="height: 350px;">
        <div class="card-block">
          <ul class="icon-list">
            <li><i class="fa fa-thermometer-full fa-3x" aria-hidden="true"></i> <span><%= @tempature %></span></li>
            <li><i class="fa fa-heartbeat fa-3x" aria-hidden="true"></i> <span><%= @humidity %></span></li>
            <li><i class="fa fa-stethoscope fa-3x" aria-hidden="true"></i> <span><%= @timestamp %></span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col-6">
      <div class="card card-block">
        <% if @result %>
          yes yes
        <% else %>
          <%= erb :'_diagnos_form' %>
        <% end %>
      </div>
    </div>

    <div class="col-6">
      <div id="map" style="width: 100%; height: 400px; visibility: hidden;"></div>
    </div>
  </div>
</div>



<script async type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js" crossorigin="anonymous"></script>
<script async defer type="text/javascript" src="/dashboard.js" crossorigin="anonymous"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVfEXBtFtzvkpqb98CiSfVgKk51dDC3f8&callback=initMap">
</script>
