<div class="jumbotron jumbotron-fluid jumbotron-bg">
  <div class="container">
    <h1 class="display-2">esher</h1>
    <p class="lead">The future of city health care.</p>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-3 py-3">
            <h2 class="display-4 text-center">Welcome back!</h2>
            <p>Log in or sign up to unleash the power of esher daily diagnosis!</p>

            <a href="/login" class="btn btn-primary btn-lg">Log in</a>
        </div>
        <div class="col-md-6 offset-3 py-5">
            <h2 class="display-4 text-center">What we offer</h2>
            <p>We offer a digital medical card and home self-test solutions for you to use.</p>
        </div>
    </div>
</div>
<!-- Contact form -->

<div class="container">
	<div class="row">
      <div class="col-md-6 offset-3">
        <div class="well well-sm">
          <form class="form-horizontal" action="" method="post">
          <fieldset>
            <legend class="display-4 text-center">Contact us and we will help you!</legend>

            <!-- Name input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="name">Name</label>
              <div class="col-md-9">
                <input id="name" name="name" type="text" placeholder="Your name" class="form-control">
              </div>
            </div>

            <!-- Email input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="email">Your E-mail</label>
              <div class="col-md-9">
                <input id="email" name="email" type="text" placeholder="Your email" class="form-control">
              </div>
            </div>

            <!-- Message body -->
            <div class="form-group">
              <label class="col-md-3 control-label" for="message">Your message or question.</label>
              <div class="col-md-9">
                <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
              </div>
            </div>

            <!-- Form actions -->
            <div class="form-group">
                <div class="col-md-6 offset-3 ">
                    <button type="submit" class="btn btn-primary btn-lg">Send</button>
                </div>
            </div>
          </fieldset>
          </form>
        </div>
      </div>
	</div>
</div>


<footer class="bg-primary text-white mt-4">
      <div class="container-fluid py-3">
          <div class="row">
              <div class="col-md-3">
                  <h5>Esher links</h5></div>
              <div class="col-md-3"></div>
              <div class="col-md-3"></div>
              <div class="col-md-3"></div>
              </div>
              <div class="row">
                  <div class="col-md-6 offset-3">
                      <ul class="list-group">
                          <a href="/about" class="list-group-item list-group-item-action">About us</a>
                          <a href="/project" class="list-group-item list-group-item-action">The project</a>
                          <a href="/esher-for-companies-and-organisations" class="list-group-item list-group-item-action">For companies & organizations</a>
                          <a href="/philosophy" class="list-group-item list-group-item-action">Our philosophy</a>
                      </ul>
                  </div>
                  <div class="col-md-3"></div>
              </div>
      </div>
</footer>
