<div class="container">
	<div class="row">
      <div class="col-md-6 offset-3 py-5">
        <div class="well well-sm">
          <form class="form-horizontal" method="post" action="/login">
              <fieldset>
                  <legend class="display-4">Welcome back!</legend>
                  <!-- Email input-->
                  <div class="form-group">
                      <label for="email">Your E-mail</label>
                      <div class="col-md-9">
                          <input id="email" name="email" type="text" placeholder="Your email" class="form-control">
                      </div>
                  </div>

                  <div class="form-group">
                      <label for="inputPassword">Your password</label>
                      <div class="col-md-9">
                          <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
                      </div>
                  </div>

                  <!-- Form actions -->
                  <div class="form-group">
                      <div class="col-md-6 offset-3 ">
                          <button type="submit" class="btn btn-primary btn-lg">Send</button>
                      </div>
                  </div>
              </fieldset>
          </form>
        </div>
      </div>
	</div>
</div>
