<div class="text-center">
    <h1 class="display-1">Thank you, <%= @name %>!</h1>
    <p>You sent a mail to us and we will look at it as soon as possible!</p>
    <p>Now you could go to <a href="/login">www.esher.se/login</a> to sign in or register.</p>
    <p>Have a good day!</p>
    </div>
