
.jumbotron-bg {
    background-image: url("/jumbotron_bg.jpeg");
    background-size: cover;
}


.icon-list {
  list-style: none;
  padding: 15px;
  margin: 0;
}

ul.icon-list li {
 padding: 0px 8px;
}

ul.icon-list li i {
  width: 50px;
  text-align: center;
}

ul.icon-list li span {
  font-size: 2rem;
}
